{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Enter Details</h1>
<br/>
<h2>Enter 10 digit hex code on the bag</h2>
<br/>
<form method="POST" action="{% url 'add_record' %}">
	{% csrf_token %}

	{{ form.as_p }}

<br/>

</form>

<form method="post">
  {% csrf_token %}
  {{ add_form.as_p }}
  <form method="post">
    {% csrf_token %}
    {{ verify_form.as_p }}
    <button type="submit">Verify Code</button>
 
  <br/>
  </form>
  <br/>
  <button type="submit" class="btn btn-secondary">Submit</button>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</form>


</div>

{% endblock %}